

img {
    opacity: 100%;
    transition: ease-out 1s;
/*    border: #000000 1px solid;*/

}

.empty:hover img,
figcaption {
    opacity: 100%;
    cursor: pointer;
}

.empty:hover img,
.project img:hover {
    transform: scale(1.2);
}



.project {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
    white-space: pre-line;
}



h4 {
    margin-top: 0;
    font-size: 1.3rem;
}



.desc-project {
    padding: 20px;
}

.project-img {
    padding: 10px;
    width: 250px;
margin: auto;
}

img {
    width: 100%;
}

.project-container {
    margin-bottom: 20px;
}

.desc-project a{
    cursor: pointer;
}
p{
    margin-bottom: 25px;
    margin-left: 3%;

}
.buttons{
    text-align: right;
}
/************************** DESKTOP ******************************/
@media screen and (min-width: 768px) {   
    .desc-project,.project-img {

        max-width: 50%;
    }
    .project {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 40px;
        line-height: 1.3em;
    }
   
    .project:nth-of-type(even) {
        display: flex;
        flex-direction: row-reverse;
    }
    .project:nth-of-type(even) .buttons {
       text-align: left;
       

    }
 

}